@font-face {
    src: url(../fonts/Lato/Lato-Black.ttf);
    font-family: lato-black;
}
@font-face {
    src: url(../fonts/Lato/Lato-Bold.ttf);
    font-family: lato-bold;
}
@font-face {
    src: url(../fonts/Lato/Lato-Light.ttf);
    font-family: lato-light;
}
@font-face {
    src: url(../fonts/Lato/Lato-LightItalic.ttf);
    font-family: lato-light-italic;
}
@font-face {
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-family: lato-regular;
}
@font-face {
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-family: montserrat-bold;
}
@font-face {
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: montserrat-regular;
}

html,body
{
    height: 100%;
    color: #5a5a5a;
}
.full-screen
{
    min-height: 100%;
    height: 100%;
}
html>body .full-screen
{
    height: auto;
}
h1,h2,h3,h4,h5
{
    font-family: lato-light-italic;
}
p,li,a
{
    font-family: lato-light;
    font-size: 15px;
    line-height: 200%;
    text-decoration: none!important;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

nav {
    height: 100px;
    padding: 20px;
    box-shadow: none!important;
}
.navbar-default {
    background: transparent;
    border-color: transparent;
    border-radius: 0;
}
.navbar-brand {
    font-family: lato-bold;
  
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
 
    text-transform: capitalize;
    font-family: lato-bold;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ed145b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #ed145b;
    box-shadow: none;
}

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #000;
    transition: width .5s ease;
}

.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #000;
    transition: width .5s ease;
}

.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}



.affix {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 6.5%;
    background-color: #1e1e1e;
    height: 55px;
    -webkit-animation-name: example;
    -moz-animation-name:example;
    animation-name: example;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration:0.5s;
    animation-duration: 0.5;
    z-index: 999;
}
.affix + .container-fluid {
    padding-top: 50px;
}
@-webkit-keyframes example {
    from {
        top: -85px;
    }
    to {
        top: 85px;
    }
}
@keyframes example {
    from {
        top: -85px;
    }
    to {
        top: 0px;
    }
}
